* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1 {
  text-transform: lowercase;
  color: #F70D1A;
  margin-top: 0;
  /*text-align: center;
  margin: 30px auto 0px;
  padding-bottom: 20px;
  font-size: 36px;
  font-family: Helvitica, Arial, sans-serif;
  border-bottom: 3px solid black;*/
}



/*p {
  font-size: 12px;
  line-height: 1;
  margin: 80px 50px 10px;
  color: white;
  border-bottom: 50px solid white;
}*/

.flashcard {
  width: 400px;
  height: 250px;
}


.slider {
  width: 400px;
  height: auto;
  position: relative;
  display: block;
  margin: 0 auto;
  -webkit-transform: perspective(1000);
  -webkit-perspective: 1000px;
  perspective: 1000px;
}  

.holder {
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.flashcard {
	/*background-image: url(images/baby.jpg);*/
	/*border: 2px solid black;*/
	background: white;
	float: left;
	position: absolute;
	width: 400px;
	height: 216px;
	margin: 0 auto;
	-webkit-transform: rotateY(180deg) translateZ(300px);

	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}

.flashcard > div {
  background: white;
  position: absolute;
  width: 100%;
  top: 0;

  
  font: 45px bold Helvitica, Arial, sans-serif;
  text-align: center;
  
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.flashcard > .front {
  position: relative;
  z-index: 2;

}

.flashcard.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);

}

.flashcard.flipped > .front {
  opacity: 0;
}

.active {
  -webkit-transform: rotateY(0deg) translateZ(300px)!important;
}

.previous {
  -webkit-transform: rotateY(-180deg) translateZ(300px)!important;
}

.lastcard {
  border: 1px solid white!important;
  color: white!important;
  background: white!important;
}

/*.active .back {
  visibility: hidden;
}*/

/*.front p {
  font-size: 20px;
  font-weight: bold;
}*/

/*.first .back p {
  font-size: 20px;
  font-weight: bold;
}*/

/*.lastcard .front p,
.lastcard .back p {
  font-weight: normal!important;
  font-size: 20px;
}*/

footer {
  /*border-bottom: 3px solid black;*/
  position: relative;
  bottom: -45px;
  /*padding-top: 20px;*/
}

footer img {
  float: left;
  height: 50px;
  width: auto;
}

ul, li {
  list-style: none;
  /*text-align: center;
  font-family: Helvitica, Arial, sans-serif;*/
}